




/* listing showroom */

.showroom_container {
    position: absolute;
    top: 40px;
    width: 100%;
    height: 96vh;
    border-top: 1px solid rgb(255, 94, 0);

}

.listing_showroom {
    width: 100%;
    font-family: 'dindong';
}

.showroom {
    box-sizing: border-box;
    overflow: hidden;
    float: left;
    max-width: 50%;
    height: 96vh;
}

#showgauche {}

#showroomdroite {
    border-left: 1px solid rgb(255, 94, 0);
    width: 100%;
}

.showroom_headergauche div {
    font-size: 16px;
    color: black;
    float: left;
    width: 50%;
}

.showroom_headergauche {
    background: rgba(0, 0, 0, 0) linear-gradient(0deg, white, whitesmoke 50%) repeat scroll 0% 0%;
    width: 100%;
    height: 4vh;
    border-bottom: 1px solid rgb(255, 94, 0);
    margin-top: 0px;
    min-height: 40px;
    padding: 10px;
    z-index: 2;
    position: relative;
}

.texte {
    background-color: white;
    padding: 10px;
    height: 44vh;
    overflow: scroll;
}

.texte:last-child {
    height: 48vh;
}

#texte1 {
    float: left;
    font-size: 2, 5vh;
    width: 30%;
    border-bottom: 1px solid rgb(255, 94, 0);
    border-right: 1px solid rgb(255, 94, 0);
}

#texte2 {
    top: 100px;
    float: right;
    font-size: 6vh;
    width: 70%;
    border-bottom: 1px solid rgb(255, 94, 0);
    border-right: 0, 5px solid rgb(255, 94, 0);
}

#texte3 {
    float: left;
    font-size: 15vh;
    width: 100%;
    border-right: 0, 5px solid rgb(255, 94, 0);
}

#texte4 {
    font-size: 50vh;
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    border-bottom: 1px solid rgb(255, 94, 0);
    border-right: 0, 5px solid rgb(255, 94, 0);
    white-space: nowrap;
    line-height: 25vh;
    text-align: center;
}

#texte4basker {
    font-size: 50vh;
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    border-bottom: 1px solid rgb(255, 94, 0);
    border-right: 0, 5px solid rgb(255, 94, 0);
    white-space: nowrap;
    line-height: 40vh;
    text-align: center;
    z-index: 1;
    position: relative;
}

#texte4josa {
    font-size: 50vh;
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    border-bottom: 1px solid rgb(255, 94, 0);
    border-right: 0, 5px solid rgb(255, 94, 0);
    white-space: nowrap;
    line-height: 10vh;
    text-align: center;
}

#texte4cirrus {
    font-size: 50vh;
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    border-bottom: 1px solid rgb(255, 94, 0);
    border-right: 0, 5px solid rgb(255, 94, 0);
    white-space: nowrap;
    line-height: 25vh;
    text-align: center;
}

#texte4dindong,
#texte5dindong{
    font-size: 50vh;
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    border-bottom: 1px solid rgb(255, 94, 0);
    border-right: 0, 5px solid rgb(255, 94, 0);
    white-space: nowrap;
    line-height: 35vh;
    text-align: center;
}



#texte5 {
    font-size: 50vh;
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    border-right: 0, 5px solid;
    align-items: center;
    justify-content: center;
    line-height: 35vh;
    text-align: center;
}

#texte5basker {
    font-size: 50vh;
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    border-right: 0, 5px solid;
    align-items: center;
    justify-content: center;
    line-height: 51vh;
    text-align: center;
}

#texte5josa {
    font-size: 50vh;
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    border-right: 0, 5px solid;
    align-items: center;
    justify-content: center;
    line-height: 50vh;
    text-align: center;
}

#texte5homo {
    font-size: 50vh;
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    border-right: 0, 5px solid;
    align-items: center;
    justify-content: center;
    line-height: 25vh;
    text-align: center;
}


/* SLIDING GLYPHS */

.slideshow-container {
    position: relative;
}

.mySlides {
    display: none;
}

.invisible {
    display: none;
}
.top {
    display: block;
}

.prev,
.next {
    cursor: pointer;
    top: 20%;
    width: 100%;
    width: auto;
    font-size: 20px;
}

/* Position the "next button" to the right */
.prev {
    position: absolute;
    left: 0;
}
.next {
    position: absolute;
    right: 0;
}
